<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutorial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>Nessa página você poderá encontrar um guia de como criar um aplicativo para celular</p>



  <h1>Ferramentas:</h1>

  <p>Para criar um aplicativo mobile iremos usar o <b>IONIC</b>, <b>NodeJS</b> e o <b>Angular</b>, por isso tenha eles instalados no seu computador.</p>

  <p>Além disso, iremos programar usando o <b>Visual Studio Code</b></p>

  <h1>Criação:</h1>

  <p>Para criar o aplicativo é necessário abrir o CMD e ir até a pasta <b>"C:\ionic"</b>, uma vez que estamos dentro dessa pasta podemos criar nosso APP em etapas ou em uma só linha.</p>


  <h4>Etapas:</h4>

  <ul>
    <li>
      O primeiro comando é o "ionic start";
    </li>

    <li>
      Depois disso iremos escolher o framework Angular (basta selecionar com a setinha do teclado e dar enrter);
    </li>

    <li>
      Após isso, iremos dar um nome ao nosso aplicativo (é comum usar o seguinte modelo: exemploApp);
    </li>

    <li>
      Feito isso iremos decidir qual template iremos ter como base no nosso aplicativo
    </li>
  </ul>

  <h4>Templates:</h4>

  <p>O Ionic nos fornece diversos modelos base de aplicativos. </p>
  <p>A gente pode destacar o Blank, que é um modelo que simples, sem nada.</p>
  <p>Temos também o TABS, que foi usado nesse App e nele podemos ter essa barra de navegação no final da tela.</p>
  <p>Além desses, podemos citar também o SideMenu, que, pasmem, nos da um menu lateral onde podemos navegar entre as páginas.</p>
  <p>Existem outros modelos e todos eles são resumidos (em inglês) na hora de escolher no CMD.</p>

  <h4>Em uma linha</h4>

  <p>Podemos pupar todo o esforço das etapas escrevendo uma simples linha no CMD:</p>
  <p><b>ionic start nomeApp blank --type=angular</b></p>

  <h1>Conclusão</h1>

  <p>PRONTO!! Você criou um app, agr basta usar o comando "cd /nomeApp" e depois "code ." para abri-lo no Visual Code</p>
  <p>Ah, claro! Assim que você criar um app e prograna-lo você irá querer ver como ele está ficando, para iso use o comando "ionic serve" no CMD (Poderá usar <b>"ionic serve -l"</b> para uma visão mais completa, para isso será necessário instalar o Ionic Lab, é só dar YES quando pedir).</p>


</ion-content>
